{% extends "::base.html.twig" %}

{% block title %}AppBundle:Users:indexAction showAction postAction putAction delete{% endblock %}

{% block body %}
<h1>Welcome to the Users:indexAction showAction postAction putAction delete page</h1>
{% endblock %}
